
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --drive-red: #e12e2e;
    --drive-gray: #6c757d;
    --drive-lightgray: #f8f9fa;
  }
}

@layer utilities {
  .text-shadow-black {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8), 
                 0 0 15px rgba(0, 0, 0, 0.7);
  }
  
  .aspect-w-16 {
    position: relative;
    padding-bottom: calc(9 / 16 * 100%);
  }
  
  .aspect-h-9 {
    position: relative;
  }
  
  .aspect-w-16 > *, .aspect-h-9 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
