
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --drive-red: #e12e2e;
    --drive-gray: #6c757d;
    --drive-lightgray: #f8f9fa;
  }
}

@layer utilities {
  .text-shadow-black {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8), 
                 0 0 15px rgba(0, 0, 0, 0.7);
  }
}
